<li>
  {{#link-to 'question' question.id}} By {{question.author}}
   Published on {{question.date}}{{/link-to}}
{{#if isImageShowing}}
<p><img src={{question.image}} alt={{question.type}} {{action 'imageHide' 'questionHide'}}></p>
<p>{{question.content}}></p>
  {{else}}
  <button {{action 'imageShow' 'questionShow'}}>Display Question</button>

  <button {{action 'addToCart' question}}>Add to Cart</button>

  {{/if}}


</li>
