This discussion titled {{question.title}}, by  {{question.author}} was published on {{question.date}} with the following views {{question.image}} {{question. content}}.
<br>
<p><img src={{question.image}} alt={{question.content}}></p>

<button {{action 'delete' question}}>Delete</button>
