
<h1>Welcome to Elite Bloggers</h1>


<h3>Ask any Question and our members shall contribute towards finding the best answer/solution.</h3>
<p>Many of us like solving problems, pride ourselves in finding the “right” answers, and are quick to
  share our insights with others. I say “us” because I enjoy doing all three. What I enjoy doing
  even more is asking questions. I ask questions of myself and others every day, whether it be
  through social media, direct conversation, or my inner monologue. It is the question that
  inspires critical thought and gives focus to those of us interested in finding answers.
  This blog allows users to ask, update or delete their questions. They can also delete answers to their questions.
  Other users can contribute to ones quetion by answering them, and rating them. Every question with more than 5 reviews will show an icon. Lets go!!</p>

  <h2>Available Questions!</h2>
  <ul>
    {{#each model.questions as |question|}}
    {{question-tile question=question}}
      {{/each}}
  </ul>

  {{new-question saveQuestion2="saveQuestion3"}}
  <h2>All Answers</h2>

  <!-- <ul>
    {{#each model.answers as |answer|}}
    <li>{{answer.rating}} - {{answer.content}} - by {{answer.author}}</li>
    {{/each}}
  </ul> -->

  <!-- {{new-answer saveAnswer="saveAnswer"}} -->

  <hr>

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Contact{{/link-to}}
