
<h1>Welcome to Elite Bloggers</h1>


<p>Ask any Question and our members shall contribute towards finding the best answer/solution.</p>

  <h2>Available Questions!</h2>
  <ul>
    {{#each model.questions as |question|}}
    {{question-tile question=question}}
      {{/each}}
  </ul>

  {{new-question saveQuestion2="saveQuestion3"}}
  <h2>All Answers</h2>

  <!-- <ul>
    {{#each model.answers as |answer|}}
    <li>{{answer.rating}} - {{answer.content}} - by {{answer.author}}</li>
    {{/each}}
  </ul> -->

  <!-- {{new-answer saveAnswer="saveAnswer"}} -->

  <hr>

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Contact{{/link-to}}
