<h2>More Information about {{model.title}} {{model.content}} {{model.author}} {{model.image}} {{model.date}}</h2>

{{update-question question=question update="update"}}

{{question-detail question=model destroyQuestion="destroyQuestion"}}
